@import "../../dist/adwaita.css";
@import "./fonts.css";

body,
#root {
    height: 100vh;
    width: 100%;
}

.page {
    .adw.clamp {
        padding-top: 6rem;

        >.content {
            >.adw.header {
                margin-bottom: 1.6rem;
                margin-top: 2.6rem;

                &:first-child {
                    margin-top: 0;
                }
            }

            .adw.segment {
                .splitted-columns {
                    flex-direction: row;
                    display: flex;

                    > div {
                        flex: 1;
                    }
                }

                .inline-flex-left {
                    justify-content: flex-start;
                    align-items: center;

                    flex-direction: row;
                    display: flex;

                    padding: 3rem 3rem;
                }

                .inline-flex {
                    justify-content: center;
                    align-items: center;

                    flex-direction: row;
                    display: flex;

                    flex-wrap: wrap;

                    >.adw.button,
                    >.adw.buttons {
                        margin: 0 0.6rem;
                        margin-bottom: 1rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .column-flex-left {
                    justify-content: center;
                    align-items: flex-start;

                    flex-direction: column;
                    display: flex;

                    padding: 3rem 3rem;

                    >.adw.header {
                        margin-bottom: 1.2rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .column-flex {
                    justify-content: center;
                    align-items: center;

                    flex-direction: column;
                    display: flex;

                    >.adw.select,
                    >.adw.checkbox,
                    >.adw.toggle,
                    >.adw.radio,
                    >.adw.progress,
                    >.adw.entry {
                        margin-bottom: 1.6rem;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    >.adw.headerbar {
                        border-radius: 0.6rem;
                    }
                }
            }
        }
    }
}

.typography.page {
    .adw.segment.placeholder {

        h1,
        h2,
        h3,
        h4 {
            margin-bottom: 2rem;
        }

        .adw.text {
            margin-bottom: 1.2rem;
        }

        .capture.heading {
            margin-top: 1.2rem;
        }
    }
}